* {
    padding: 0;
    margin: 0;
    list-style: none;
}

header {
    height: 450px;
    background-image: url(img/video_cover.c49a55.png);
    background-position: -100px -100px;
}

.tap {
    background-color: rgba(0, 0, 0, .7);
    height: 60px;
}

.logo {
    height: 60px;
    width: 100px;
    position: relative;
    display: inline-block;
}

.logo img {
    height: 30px;
    position: absolute;
    top: 15px;
    left: 40px;
}

.hearder-menu {
    float: right;
    margin-right: 30px;
}

.hearder-menu ul li {
    float: left;
    margin: 10px 40px;
    line-height: 40px;
    font-size: 18px;
}

.hearder-menu ul li a {
    text-decoration: none;
    color: #edebe8;
}

.hearder-menu ul li:nth-child(5) {
    text-align: center;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background-color: #676767;
}

.tap h4 {
    margin-left: 70px;
    line-height: 350px;
    font-size: 75px;
    color: #edebe8;
}