footer {
    height: 400px;
    background-color: #dddddd;
    display: flex;
}

.cricle {
    width: 320px;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 170px;
}

.cricle div {
    display: flex;
    height: 70px;
    width: 70px;
    font-size: 30px;
    font-weight: 500px;
    color: white;
    background-color: #343434;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
}

.cn {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
}

.cn .title4 {
    font-size: 30px;
    margin-bottom: 30px;
}

.cn ul li {
    color: #424242;
    font-size: 20px;
    margin: 10px 0;
}